/* LAYOUT */

#wrapper{
    padding: 10px;
    display:grid;
    grid-template-columns:repeat(12, 1fr);
    grid-auto-rows:minmax(50px, auto);
    grid-gap:.5em;
    justify-items:stretch;
    align-items:stretch;

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* font-size: 1rem; */
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

#wrapper * {
    padding: 2pt;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    /* font-size: 1rem; */
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

#logo{
    align-self: center;
    grid-column:1;
    grid-row:1;
}

#title{
    grid-column:2/6;
    grid-row:1;
}

#menu{
    grid-column:9/12;
    grid-row:1;
    text-align: right;
}

#connection_status{
    grid-column:2/9;
    grid-row:7;
}
#connection_status > span {
    padding-right: 20px;
}

#asr_result{
    grid-column:2/9;
    grid-row:8/14;
    border:#333 1px solid;
}

#session_info {
    grid-column:2/9;
    grid-row:2;
}
#session_info > span {
    padding-right: 5px;
}

#visualiser {
    grid-column:2/9;
    grid-row:3/6;
}
#audio_buttons {
    grid-column:2/9;
    grid-row:6;
}

#system_messages{
    grid-column:9/12;
    grid-row:2/8;
    border:#333 1px solid;
}

#chat{
    grid-column:9/12;
    grid-row:8/13;
    border:#333 1px solid;
}

#chat_input{
    grid-column:9/12;
    grid-row:13;
    border:#333 1px solid;
}


